## Parte I - Datos faltantes

Pandas provee un conjunto de métodos para trabajar con datos faltantes.
Los métodos reconocen como datos faltantes valores que pueden provenir de Numpy o de Python nativo.

In [57]:
import pandas as pd

In [58]:
import numpy as np

#### Detección de datos faltantes

El método isnull() devuelve una **máscara booleana** para la serie que indica los datos faltantes.

In [59]:
string_data = pd.Series(['manzana', 'pera', np.nan, 'naranja'])
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [60]:
string_data = pd.Series([None, 'pera', np.nan, 'naranja'])
# El método reconoce también al valor faltante de Python nativo
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

Para encontrar los valores con datos faltantes, podemos filtrar la serie utilizando boolean indexing

In [61]:
# Filtro los valores nulos
print(string_data[string_data.isnull()])

print('\n')
# Filtro los valores no nulos
print(string_data[string_data.notnull()])

0    None
2     NaN
dtype: object


1       pera
3    naranja
dtype: object

A la hora de trabajar con dataframes, podemos seleccionar las filas o columnas que no contienen ningún valor faltante

In [62]:
df = pd.DataFrame(np.random.randn(7, 3))
df

          0         1         2
0  0.889287 -1.798516 -0.062841
1  2.464814 -0.588787  1.268561
2  0.105115 -0.480651 -0.655002
3  0.635290  0.004996 -1.056647
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [63]:
# Ahora generamos algunos datos faltantes
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

          0         1         2
0  0.889287       NaN       NaN
1  2.464814       NaN       NaN
2  0.105115       NaN -0.655002
3  0.635290       NaN -1.056647
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [64]:
# Devuelve las filas completas
df.dropna()

          0         1         2
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [65]:
# Devuelve las columnas completas
df.dropna(axis=1)

          0
0  0.889287
1  2.464814
2  0.105115
3  0.635290
4  1.143256
5  0.486893
6 -0.784167

In [66]:
# imponemos la condición de que todos los elementos de la fila sean NaN para eliminarla
df.dropna(axis=0, how='all')

          0         1         2
0  0.889287       NaN       NaN
1  2.464814       NaN       NaN
2  0.105115       NaN -0.655002
3  0.635290       NaN -1.056647
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [67]:
# imponemos la condición de que por lo menos haya 4 elementos que no sean NaN en la columna
df.dropna(axis=1, thresh=4)

          0         2
0  0.889287       NaN
1  2.464814       NaN
2  0.105115 -0.655002
3  0.635290 -1.056647
4  1.143256 -0.772109
5  0.486893 -0.326149
6 -0.784167  0.009092

#### Completar datos faltantes

In [68]:
df.columns = ['col1','col2','col3']
df

       col1      col2      col3
0  0.889287       NaN       NaN
1  2.464814       NaN       NaN
2  0.105115       NaN -0.655002
3  0.635290       NaN -1.056647
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [69]:
# Completar con un escalar
# Este método devuelve un nuevo objeto.
# Para modificar df directamente se utiliza el parámetro inplace=True

df.fillna(0)

       col1      col2      col3
0  0.889287  0.000000  0.000000
1  2.464814  0.000000  0.000000
2  0.105115  0.000000 -0.655002
3  0.635290  0.000000 -1.056647
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [70]:
# Completar con un diccionario
df.fillna({'col2': 0.5, 'col3': -1})

       col1      col2      col3
0  0.889287  0.500000 -1.000000
1  2.464814  0.500000 -1.000000
2  0.105115  0.500000 -0.655002
3  0.635290  0.500000 -1.056647
4  1.143256 -0.670853 -0.772109
5  0.486893 -0.000273 -0.326149
6 -0.784167  0.438174  0.009092

In [71]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = np.nan 
df.iloc[4:, 2] = np.nan
df

          0         1         2
0  0.288467  0.795124 -0.366226
1  0.347634 -1.308341  0.685040
2 -0.424869       NaN  0.484753
3 -0.466079       NaN -0.638917
4  1.373616       NaN       NaN
5 -0.028634       NaN       NaN

In [72]:
# Para completar en base a los últimos valores válidos,
# se puede utilizar el parámetro method = 'ffill'

df.fillna(method='ffill')

          0         1         2
0  0.288467  0.795124 -0.366226
1  0.347634 -1.308341  0.685040
2 -0.424869 -1.308341  0.484753
3 -0.466079 -1.308341 -0.638917
4  1.373616 -1.308341 -0.638917
5 -0.028634 -1.308341 -0.638917

In [73]:
# Completamos con los últimos valores,
# pero ponemos un límite de 3 a los valores que se pueden completar.

df.fillna(method='ffill', limit=3)

          0         1         2
0  0.288467  0.795124 -0.366226
1  0.347634 -1.308341  0.685040
2 -0.424869 -1.308341  0.484753
3 -0.466079 -1.308341 -0.638917
4  1.373616 -1.308341 -0.638917
5 -0.028634       NaN -0.638917

El método fillna también acepta un nuevo dataframe con índices coincidentes con los valores faltantes.

In [74]:
# Usamos un DataFrame para completar los datos faltantes. 

df_fill = pd.DataFrame(np.arange(8).reshape(4,2), index=np.arange(2,6), columns=[1,2])
df.fillna(df_fill)

          0         1         2
0  0.288467  0.795124 -0.366226
1  0.347634 -1.308341  0.685040
2 -0.424869  0.000000  0.484753
3 -0.466079  2.000000 -0.638917
4  1.373616  4.000000  5.000000
5 -0.028634  6.000000  7.000000

#### Completar por la media y la media condicionada

In [75]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                    'data2': np.random.rand(6)}, columns=['key', 'data1','data2'])
df

  key  data1     data2
0   A      0  0.316919
1   B      1  0.325741
2   C      2  0.050307
3   A      3  0.636417
4   B      4  0.009204
5   C      5  0.110033

In [76]:
df.iloc[2:3, 1] = np.nan
df.iloc[3:4, 2] = np.nan
df

  key  data1     data2
0   A    0.0  0.316919
1   B    1.0  0.325741
2   C    NaN  0.050307
3   A    3.0       NaN
4   B    4.0  0.009204
5   C    5.0  0.110033

In [77]:
df.mean()

data1    2.600000
data2    0.162441
dtype: float64

In [78]:
df.fillna(df.mean())

  key  data1     data2
0   A    0.0  0.316919
1   B    1.0  0.325741
2   C    2.6  0.050307
3   A    3.0  0.162441
4   B    4.0  0.009204
5   C    5.0  0.110033

In [79]:
# Veamos las medias por grupo
print(df)
df.groupby('key').transform('mean')

  key  data1     data2
0   A    0.0  0.316919
1   B    1.0  0.325741
2   C    NaN  0.050307
3   A    3.0       NaN
4   B    4.0  0.009204
5   C    5.0  0.110033

   data1     data2
0    1.5  0.316919
1    2.5  0.167472
2    5.0  0.080170
3    1.5  0.316919
4    2.5  0.167472
5    5.0  0.080170

In [80]:
df.fillna(df.groupby('key').transform('mean'))

  key  data1     data2
0   A    0.0  0.316919
1   B    1.0  0.325741
2   C    5.0  0.050307
3   A    3.0  0.316919
4   B    4.0  0.009204
5   C    5.0  0.110033

## Parte II - Tidy Data

Vamos a trabajar con algunos ejemplos de messy data que se encuentran en el trabajo original de Whickham. 
La idea es toparnos con datasets como podrían encontrarse en el mundo real y transformarlos a un formato que las herramientas estándar de minería de datos y visualización podrán trabajar mejor, siguiendo las reglas de "tidy data".

Vamos a trabajar con algunos tipos de datasets desordenados:

#### 1.1 - Los nombres de columnas son valores, no variables

In [89]:


entrada = open("df = pd.read_csv("data/pew-raw.csv",delimiter=',') 
", "rt", encoding = "utf-8")

df = pd.read_csv("data/pew-raw.csv",delimiter=',') 
df

FileNotFoundError: File b'data/pew-raw.csv' does not exist

In [ ]:
# Para reorganizar el dataset utilizamos el método "melt"
# En los parámetros indicamos que la variable que vamos a conservar
# es "religion" (podrían ser más de una)
# Y que con el resto de las columnas vamos a construir
# una nueva variable donde cada columna es una categoría

df_ordenado = pd.melt(df,
                       ["religion"],
                       var_name="income",
                       value_name="freq")
df_ordenado = df_ordenado.sort_values(by=["religion"])
df_ordenado.head(10)

#### 1.2 Más de un valor en una misma columna

A continuación vamos a utilizar datos de la OMS. El dataset consiste en la cantidad de casos de tuberculosis observados por país, año, sexo y edad.

In [ ]:
df = pd.read_csv("tb-raw.csv")
df

Para odenar este dataset vamos a extraer los valores de sexo y edad para organizarlos en una sola columna. 
Después vamos a crear tres columnas a partir del contenido: sexo, edad_desde y edad_hasta.

In [ ]:
df = pd.melt(df, id_vars=["country","year"], var_name="sex_and_age", value_name="cases")

In [ ]:
df.sample(10)

In [ ]:
# Extraigo las variables.
# Con la expresión regular, le estoy pidiendo a la función que parta el valor que recibe en tres partes:
# (\D): Una única letra o caracter no numérico 
# (\d+): Uno o más números (para dar cuenta de "edad desde")
# (\d{2}): Dos dígitos
tmp_df = df["sex_and_age"].str.extract("(\D)(\d+)(\d{2})")

In [ ]:
tmp_df.sample(10)

In [ ]:
# Asignamos 
tmp_df.columns = ["sex", "age_lower", "age_upper"]

# Creamos la columna edad en base a age_lower y age_upper.
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

In [ ]:
# Unimos los dos datasets 
df = pd.concat([df, tmp_df], axis=1)
df.head()

In [ ]:
df["age"].value_counts()

In [ ]:
# Inspeccionar la presencia de valores faltante
np.sum(df.isnull())

In [ ]:
# Explorando los casos faltantes, vemos que la expresión regular no funcionó para hombres de más de 65 años 
# o de edad indefinida
df.loc[df['age'].isnull()]

In [ ]:
df.loc[df['sex_and_age'] == 'm65', 'age'] = '65 or more'
df.loc[df['sex_and_age'] == 'm65', 'sex'] = 'm'
df.loc[df['sex_and_age'] == 'mu', 'sex'] = 'm'

In [ ]:
df.loc[df['age'].isnull()]

In [ ]:
# Nos deshacemos de las columnas sobrantes
df = df.drop(['sex_and_age',"age_lower","age_upper"], axis=1)
df.sample(10)

In [ ]:
# Como las personas de edad indefinida no presentan ningún caso, es correcto eliminar estos faltantes con dropna.
df = df.dropna()
df = df.sort_values(["country", "year", "sex", "age"])
df.head(10)

## Parte III - Herramientas para manipulación de datos

Pandas cuenta con un conjunto de métodos que permiten operar sobre los elementos de un Dataframe o Serie.
Para aplicar la lógica deseada, podemos optar tanto por definir funciones con nombre como por utilizar expresiones lambda que luego no pueden reutilizarse.

    1)  pd.DataFrame.apply: Opera sobre filas o columnas completas
    2)  pd.DataFrame.applymap: Opera sobre cada uno de los elementos del Dataframe
    3)  pd.Series.apply: Opera sobre cada uno de los elementos de la Serie. 
    4)  pd.Series.map: Opera sobre cada uno de los elementos de la Serie, muy similar a Series.apply. 

La diferencia entre pd.Series.map y pd.Series.apply es que la segunda puede generar un Dataframe a partir de la serie, mientras que la primera si recibiera una serie como return de la función crearía una serie de series.

####  3.1 Función apply

La función apply de pandas permite realizar operaciones vectorizadas sobre los datasets tanto fila por fila como columna por columna.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

Utilizamos `df.applymap` para encontrar la raíz cuadrada de los elementos de cada columna. `NaN` significa "Not a Number" y es el valor asignado a operaciones inválidas como la raíz de un número negativo.

In [ ]:
df.applymap(np.sqrt)

> en este caso podríamos haber aplicado tambien 'df.apply' porque la operación de sqrt se aplicaría de todas formas a los elementos de la serie

**  Buscamos la media de todas las filas **

El parámetro por default es axis=0, por lo que va a iterar por las filas y darnos el valor de la media de la columnas

In [ ]:
df.apply(np.mean)

El parámetro axis=1 indica que la función se aplica para cada fila. Notar que el apply anterior no modificó el dataset, sino que creó una copia y luego modificó la misma. El dataset original conserva el mismo valor.

In [ ]:
df.apply(np.mean, axis=1)

`np.mean()` es una función que viene definida en numpy, pero podemos querer aplicar una función totalmente propia para, por ejemplo, crear una nueva columna que sea la suma entre las series a y d. Esto se puede hacer con expresiones lambda.

In [ ]:
# Veamos primero cómo trabajan las expresiones lambda

df.apply(lambda x: print(type(x),'\n',x))

# El método apply le pasa a la función lambda una serie con cada una de las columnas.
# Si el parámetro axis es igual a 1,
# la función lambda recibirá una serie con cada una de las filas.



Podemos usar una función lambda para calcular el coeficiente de variación:

In [ ]:
df.apply(lambda x: np.std(x)/np.mean(x))

Las funciones map(),apply() y applymap() son muy convenientes para utilizar en limpieza de datos. 
Por ejemplo, supongamos que queremos sacar todos los acentos y demás caracteres propios del español de todos los strings de un Dataframe. Además queremos convertir todo a minúsculas.

In [ ]:
data = pd.DataFrame({'nombre': ['Tomás','Carla','Paula'], 'apellido': ['Torres','López','Núñez']}, 
                    columns =['nombre','apellido'])
data

In [ ]:
# !pip install unidecode

import unidecode

def quitar_caracteres(entrada):
    return str.lower(unidecode.unidecode(entrada))

In [ ]:
data.applymap(quitar_caracteres)